- title 'Help'
.center
  %p If you have a question about Sketch Lab, you've come to the right place.
  %h1 Help Articles
  = link_to 'Overview', '/help/overview'
  %br
  = link_to 'FAQ', '/help/faq'
  %br
  = link_to 'Plans and Pricing', '/help/plans'
  %br
  = link_to 'Exporting Sketches', '/help/exporting'
  %br
  = link_to 'Footers on Exported Sketches', '/help/sketch_footer'
  %br
  = link_to 'Limits and Quotas', '/help/quotas'
  %br
  = link_to 'Searching for Sketches', '/help/searching'
  %br
  = link_to 'Public Sketches', '/help/public'
  %p Still have a question? Visit our support site at #{link_to "support.sketchlabhq.com", "http://support.sketchlabhq.com"}.
