<% title 'Public Sketches' %>
<h1><%= @title %></h1>
<p>If you want to allow anyone in the world to view your sketch, you can make it public. This tutorial will show you how.</p>
<p>Open the sketch you want to make public.</p>
<%= screenshot 1 %>
<p>In the toolbar, next to the word "Private", click "Change".</p>
<%= screenshot 3 %>
<p>In the dialog box that comes up, check "Public" and click "OK".</p>
<%= screenshot 4 %>
<p>Your sketch will now be available in the <%= link_to 'public sketches gallery', public_path %>.</p>
