- title 'Public Sketches'
%h1= @title
%p If you want to allow anyone in the world to view your sketch, you can make it public. This tutorial will show you how.
%p Open the sketch you want to make public.
= screenshot 1
%p In the toolbar, next to the word "Private", click "Change".
= screenshot 3
%p In the dialog box that comes up, check "Public" and click "OK".
= screenshot 4
%p Your sketch will now be available in the #{link_to 'public sketches gallery', public_path}.
