-# An introduction to Sketch Lab
#intro
  %h1 What is Sketch Lab?
  %p Sketch Lab is a user interface (UI) sketching tool. You can use it to help you plan your projects. You can see some of it's cool features here:
  %h2 Easy Drag-n-Drop and Resizing of Widgets
  %p With Sketch Lab, it is easy to design user interfaces by dragging and dropping widgets to exactly where you want them. Do you need to change the size of a widget? No problem! Just drag the bottom-right corner to the size you want.
  %h2 Share Your Sketches With the World
  %p With Sketch Lab, you can make your sketches either private, meaning that only you can see them, or public, meaning that everyone can. You can see a list of all the public sketches #{link_to 'here', public_path}.

  = signup_button

  %h2 Sign in With Your Google Account
  %p With Sketch Lab, there are no sign up forms to fill out and there are no extra passwords to remember. Instead, you just sign in with your Google account, and Sketch Lab will automatically create an account for you behind the scenes.
  %h2 Easy to Use
  %p Sketch Lab is made for simplicity. Watch a #{link_to 'video', '/help/overview'} demonstrating how easy it is to use.
  %h2 Open Source
  %p The source code for Sketch Lab is open source, so if you think something's missing can add it yourself! #{link_to 'Click Here', contributing_path} for more information.

  = last_deployed_time
