<%# Advertise premium plan to basic users %>
<% if current_user.plan == 'basic' %>
  <div id="ad">
    Upgrade to the premium plan to:
    <ul>
      <li><%= link_to raw("Have <i>unlimited</i> sketches"), "/help/quotas" %></li>
      <li><%= link_to "Remove ads", "/help/plans" %>
      <li><%= link_to "Remove footer from exported sketches", "/help/sketch_footer" %></li>
      <li><%= link_to "Easily find your sketches", "/help/searching" %></li>
    </ul>
    <%= link_to "Upgrade now!", account_path %>
    <small>or <%= link_to "Learn more", "/help/plans" %></small>
  </div>
<% end %>
<%# The sketch list %>
<div id="sketches">
<fieldset><legend>Your Sketches</legend>
<%# Search Form for premium users %>
<% if current_user.plan == 'premium' %>
  <%= form_tag root_url, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
<% end %>
<% if @sketches.length > 0 %>
  <%# JavaScript code for deleting sketches %>
  <script type="text/javascript">
  function destroy(id) {
    if (confirm("Are you sure you want to delete this sketch?")) {
      //dynamically create a form to delete the sketch
      $(document.body).append('<%= form_tag("/delete", :id => "deleteHiddenForm") %>');
      $("#deleteHiddenForm").append('<input id="id" name="id" type="hidden" value="' + id + '" />');
      $("#deleteHiddenForm").submit();
    }
  }
  </script>
  <%# Loop through the sketches %>
  <table id="sketches_list">
    <% @sketches.each do |sketch| %>
      <%= content_tag_for :tr, sketch do %>
        <% if @sketches.count > 1 %>
          <td class="handle">[+]</td>
        <% end %>
        <td><%= link_to sketch.name, "/edit/#{sketch.id}" %></td>
        <td>(<%= link_to_function 'Delete', "destroy(#{sketch.id})" %>)</td>
      <% end %>
    <% end %>
  </table>
  <% if @sketches.count > 1 %>
    <% @sortable_sketch_list = true %>
  <% end %>
<% else %>
  <% if current_user.sketches.size == 0 %>
    <b>No Sketches! Create a new one below to get started.</b>
  <% else %>
    No items match your search.
  <% end %>
<% end %>
</fieldset>
<fieldset>
<legend>New Sketch</legend>
<% if allow_new? %>
  <%= validates_sketch_names %>
  <%= form_tag(new_url, :onSubmit => 'return validate();') do %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("New Sketch") %>
  <% end %>
<% else %>
  Please upgrade to the premium plan to have multiple sketches.
<% end %>
</fieldset>
</div>
<% if @ad %>
  <div id="adsense">
    <%= @ad.code.html_safe %>
  </div>
<% end %>
