<% title "Account" %>
<h1><%= @title %></h1>
<fieldset>
  <legend>Subscription</legend>
  <% if current_user.plan == "free" %>
    You are currently on the free plan. Upgrade your account to get more features.
    Note: it may take a few minutes for the upgrade to take effect.
    <br /><br />
    <%= form_tag APP_CONFIG[:paypal_url] do %>
      <%= hidden_field_tag :cmd, "_s-xclick" %>
      <%= hidden_field_tag :upload, "1" %>
      <%= hidden_field_tag :business, APP_CONFIG[:seller_email] %>
      <%= hidden_field_tag :item_name, "omitted" %>
      <%= hidden_field_tag :a1, "0" %>
      <%= hidden_field_tag :p1, "30" %>
      <%= hidden_field_tag :t1, "D" %>
      <%= hidden_field_tag :a3, APP_CONFIG[:price] %>
      <%= hidden_field_tag :p3, "1" %>
      <%= hidden_field_tag :t3, "M" %>
      <%= hidden_field_tag :no_note, "1" %>
      <%= hidden_field_tag :custom, "1" %>
      <%= hidden_field_tag :notify_url, notify_url %>
      <%= hidden_field_tag :currency_code, "USD" %>
      <%= hidden_field_tag :secret, "secret" %>
      <!--<%= hidden_field_tag :encrypted, current_user.paypal_encrypted(notify_url) %>-->
      <input type="image" src="https://sketchlab.duostack.net/images/upgrade.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <% end %>
  <% else %>
    You are on the paid plan. Click "Downgrade" to downgrade to the free plan.
    Note: it may take a few minutes for the downgrade to take effect.
    <br /><br />
    <A HREF="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=XBZ7SZ9FMY4H2" style="background-color:transparent !important">
    <IMG SRC="https://sketchlab.duostack.net/images/downgrade.png" BORDER="0">
    </A>
  <% end %>
</fieldset>
