<% title "Cancel Account" %>
<%= form_tag do %>
  <p>Are you sure you want to cancel your account?
  All of your sketches will be permanently deleted. You cannot undo this action.</p>
  <%= check_box_tag(:confirmed) %>
  <%= label_tag(:confirmed, "Yes, I'm sure I want to cancel my account.") %>
  <br />
  <%= submit_tag("Cancel Account", :style => "color:red") %>
  or <%= link_to "cancel", account_path %>
<% end %>
