<%= javascript_include_tag "editor" %>
<script type="text/javascript">
function rename() {  
  //dynamically create a form to rename the sketch
  $(document.body).append('<%= form_tag("/rename", :id => "renameHiddenForm") %>');
  $("#renameHiddenForm").append('<input id="name" name="name" type="hidden" value="' + $("newTxt").val() + '" />');
  $("#renameHiddenForm").submit();
}
</script>
<% id = Integer(params[:sketchID]) %>
<% data = current_user.sketches.find(id).content %>
<% title current_user.sketches.find(id).name %>
<script type="text/javascript">
localStorage["data"] = '<%= data.html_safe %>';
</script>
<div class="toolbox">
  <button id="clearBtn">Clear Canvas</button>
  <select id="controlBox">
    <option value="window">Window</option>
    <option value="phone">Phone</option>
    <option value="rectangle">Rectangle</option>
    <option value="rounded-rectangle">Rounded Rectangle</option>
    <option value="elipse">Elipse</option>
    <option value="button">Button</option>
    <option value="checkbox">Checkbox</option>
    <option value="radio">Radio Button</option>
    <option value="label">Label</option>
    <option value="paragraph">Paragraph</option>
    <option value="textbox">Text Box</option>
    <option value="textarea">Text Area</option>
    <option value="progress">Progress Bar</option>
    <option value="link">Link</option>
    <option value="menu">Menu Bar</option>
    <option value="note">Sticky Note</option>
  </select>
  <button id="addBtn">Add</button>
  <button id="undoBtn">Undo</button>
  <button id="redoBtn">Redo</button>
  <span style="font-size:large;border-style:solid"><%= @title %></span>
  <button id="renameBtn">Rename</button>
  <span id="saved" style="color:green;display:none">Saved</span>
  <!-- rename dialog -->
  <div id="renameDialog">
    <div id="nullErrors" style="display:none;color:red">Please enter a name</div>
    <form id="renameForm" onsubmit="return validateRename()">
      <input id="newTxt" type="text" value="<%= @title %>" />
      <input type="submit" value="Rename" />
    </form>
  </div>
</div>
<div class="canvas" id="canvas">
  <iframe class="canvasFrame" src="/canvas.html" name="canvasFrame">
  </iframe>
</div>
