<%= validates_sketch_names %>
<script type="text/javascript">
function destroy(id) {
  if (confirm("Are you sure you want to delete this sketch?")) {
    //dynamically create a form to delete the sketch
    $(document.body).append('<%= form_tag("/delete", :id => "deleteHiddenForm") %>');
    $("#deleteHiddenForm").append('<input id="id" name="id" type="hidden" value="' + id + '" />');
    $("#deleteHiddenForm").submit();
  }
}
</script>
<% if current_user %>
  <!-- advertise paid plan to free users -->
  <% if current_user.plan == "free" %>
    <div id="ad">
      Upgrade to the paid plan to:
      <ul>
        <li><%= link_to raw("Have <i>unlimited</i> sketches"), "/help/quotas" %></li>
        <li><%= link_to "Remove footer from exported sketches", "/help/sketch%20footer" %></li>
        <li><%= link_to "Easily find your sketches", "/help/searching" %></li>
        <li>And much more!</li>
      </ul>
      <%= link_to "Upgrade now!", account_path %>
    </div>
  <% end %>
  <div id="sketches">
  <fieldset><legend>Your Sketches</legend>
  <!-- Search Form for paid users -->
  <% if current_user.plan != 'free' %>
    <%= form_tag root_url, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  <% end %>
  <% if @sketches.length > 0 %>
    <table>
      <% @sketches.each do |sketch| %>
        <tr>
          <td><%= link_to sketch.name, "/edit/#{sketch.id}" %></td>
          <td>(<%= link_to_function "Delete", "destroy(#{sketch.id})" %>)</td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <% if current_user.sketches.count == 0 %>
      <b>No Sketches! Create a new one below to get started.</b>
    <% else %>
      No items match your search.
    <% end %>
  <% end %>
  </fieldset>
  </div>
  <fieldset>
  <legend>New Sketch</legend>
  <% if allow_new %>
    <%= sketch_name_validation_errors %>
    <%= form_tag(new_url, :onSubmit => 'return validate();') do %>
      <%= text_field_tag(:name) %>
      <%= submit_tag("New Sketch", :disable_with => "Please Wait...") %>
    <% end %>
  <% else %>
    Please upgrade to the paid plan to have multiple sketches.
  <% end %>
  </fieldset>
<% else %>
  <%= render :file => "#{Rails.root}/public/info.html" %>
<% end %>
