<script type="text/javascript">
function validate() {
  if ($("#name").val() == "") {
    $("#name").addClass("field_with_errors");
    $("#nullError").show();
    return false;
  } else {
    return true;
  }
}
function destroy(id) {
  if (confirm("Are you sure you want to delete this sketch?")) {
    document.getElementById("id").value = id;
    document.getElementById("deleteForm").submit();
  }
}
</script>
<% if current_user %>
<fieldset><legend>Your Sketches</legend>
<% sketches = current_user.sketches %>
<% if sketches.length > 0 %>
<table>
  <% sketches.each do |sketch| %>
  <tr>
    <td><%= link_to sketch.name, "/edit/#{sketch.id}" %></td>
    <td><%= link_to_function "Delete", "destroy(#{sketch.id})" %></td>
  </tr>
  <% end %>
</table>
<% else %>
<b>No Sketches! Create a new one below to get started.</b>
<% end %>
</fieldset>
<fieldset>
<legend>New Sketch</legend>
<div id="nullError" style="display:none;color:red">Please enter a name</div>
<%= form_tag(new_url, :onSubmit => 'return validate();') do %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("New Sketch") %>
<% end %>
</fieldset>
<!-- delete sketch hidden form -->
<%= form_tag(delete_url, :id => "deleteForm" :style => "display:none") do %>
  <%= hidden_field("id") %>
<% end %>
<% else %>
Welcome to Sketch Lab! Please <%= link_to "sign in", signin_path %> to see your sketches.
<% end %>
