<%= validates_sketch_names %>
<script type="text/javascript">
function destroy(id) {
  if (confirm("Are you sure you want to delete this sketch?")) {
    //dynamically create a form to delete the sketch
    $(document.body).append('<%= form_tag("/delete", :id => "deleteHiddenForm") %>');
    $("#deleteHiddenForm").append('<input id="id" name="id" type="hidden" value="' + id + '" />');
    $("#deleteHiddenForm").submit();
  }
}
</script>
<% if current_user %>
  <!-- advertise paid plan to free users -->
  <% if current_user.plan == "free" %>
    <div id="ad">
      Upgrade to the paid plan to:
      <ul>
        <li>Have multiple sketches</li>
        <li>Remove footer from exported sketches</li>
        <li>And much more!</li>
      </ul>
      <%= link_to "Upgrade now!", account_path %>
    </div>
  <% end %>
  <div id="sketches">
  <fieldset><legend>Your Sketches</legend>
  <% sketches = current_user.sketches %>
  <% if sketches.length > 0 %>
    <table>
      <% sketches.each do |sketch| %>
        <tr>
          <td><%= link_to sketch.name, "/edit/#{sketch.id}" %></td>
          <td>(<%= link_to_function "Delete", "destroy(#{sketch.id})" %>)</td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <b>No Sketches! Create a new one below to get started.</b>
  <% end %>
  </fieldset>
  </div>
  <fieldset>
  <legend>New Sketch</legend>
  <% if allow_new %>
    <%= sketch_name_validation_errors %>
    <%= form_tag(new_url, :onSubmit => 'return validate();') do %>
      <%= text_field_tag(:name) %>
      <%= submit_tag("New Sketch") %>
    <% end %>
  <% else %>
    Please upgrade to the paid plan to have multiple sketches.
  <% end %>
  </fieldset>
<% else %>
  Welcome to Sketch Lab! Please <%= link_to "sign in", signin_path %> to see your sketches.
<% end %>
