<%= include_javascripts :editor %>
<script type="text/javascript">
function rename() {
  <%# Dynamically create a form to rename the sketch %>
  $(document.body).append('<%= form_tag("/rename", :id => "renameHiddenForm") %>');
  $("#renameHiddenForm").append('<input id="name" name="name" type="hidden" value="' + $("#name").val() + '" />');
  $("#renameHiddenForm").append('<input id="id" name="id" type="hidden" value="' + <%= @sketch.id %> + '" />');
  $("#renameHiddenForm").submit();
}
localStorage["data"] = '<%= escape_javascript(@sketch.content).html_safe %>';
</script>
<div class="toolbox">
  <button title="Remove all widgets from the canvas" id="clearBtn">Clear Canvas</button>
  <select id="controlBox">
    <option value="window">Window</option>
    <option value="phone">Phone</option>
    <option value="rectangle">Rectangle</option>
    <option value="rounded-rectangle">Rounded Rectangle</option>
    <option value="ellipse">Ellipse</option>
    <option value="button">Button</option>
    <option value="checkbox">Checkbox</option>
    <option value="radio">Radio Button</option>
    <option value="label">Label</option>
    <option value="textbox">Text Box</option>
    <option value="textarea">Text Area</option>
    <option value="progress">Progress Bar</option>
    <option value="link">Link</option>
    <option value="menu">Menu Bar</option>
    <option value="note">Sticky Note</option>
  </select>
  <button title="Add the selected type of widget to the canvas" id="addBtn">Add</button>
  <button title="Undo the last action" id="undoBtn">Undo</button>
  <button title="Redo the last undo" id="redoBtn">Redo</button>
  <button title="Paste the object on the clipboard to the canvas" id="pasteBtn">Paste</button>
  <span style="font-size:large;border-style:solid"><%= @title %></span>
  <button title="Change the name of the current sketch" id="renameBtn">Rename</button>
  <span style="border-style:solid">
    <% if @sketch.public %>Public<% else %>Private<% end %>
  </span>
  <button title="Change the publicity of the current sketch" id="sharingBtn">Change</button>
  <span id="saved" style="color:green;display:none">Saved</span>
  <span id="saveFailed" style="color:red;display:none">Save Failed</span>
  <%# Rename dialog %>
  <div id="renameDialog">
    <%= validates_sketch_names(:rename) %>
    <form id="renameForm" onsubmit="return validate()">
      <input id="name" type="text" value="<%= @title %>" />
      <input id="rename" type="submit" value="Rename" />
    </form>
  </div>
  <%# Sharing dialog %>
  <div id="sharingDialog">
    <%= form_tag('/sharing') do %>
      <%= hidden_field_tag :id, @sketch.id %>
      <label for="public">Public:</label>
      <input type="checkbox" name="public"<%= ' checked="checked"' if @sketch.public %> id="public">
      <br />
      <%= submit_tag "OK" %>
    <% end %>
  </div>
</div>
<div class="canvas" id="canvas">
  <iframe class="canvasFrame" src="/canvas" name="canvasFrame">
  </iframe>
</div>
<footer id="export">
  Download as:<%= link_to "PDF", "/export/#{@sketch.id}/pdf", :onclick => "exportSketch()" %>,
  <%= link_to "PNG", "/export/#{@sketch.id}/png", :onclick => "exportSketch()" %>,
  <%= link_to "JPEG", "/export/#{@sketch.id}/jpg", :onclick => "exportSketch()" %>
</footer>
