= form_tag(update_account_path) do
  = label_tag :name, 'Name:'
  = text_field_tag :name, current_user.name
  %br
  Email: #{current_user.email}
  %br
  = submit_tag 'Update'
- if current_user.plan == 'premium'
  You are currently on the premium plan #{refresh_link}. You can downgrade to the basic plan if you want.
  Note: it may take a few minutes for the downgrade to take effect.
  %br
  To downgrade your account, go to the #{link_to 'Chrome Webstore page', 'https://chrome.google.com/webstore/detail/delppejinhhpcmimgfchjkbkpanhjkdj'} and click 'Cancel and uninstall'.
- else
  You are currently on the #{current_user.plan} plan #{refresh_link}. Upgrade your account to enjoy all the features of Sketch Lab.
  Note: it may take a few minutes for the upgrade to take effect.
  %br
  To upgrade your account, go to the #{link_to 'Chrome Webstore page', 'https://chrome.google.com/webstore/detail/delppejinhhpcmimgfchjkbkpanhjkdj'} and click 'Buy full version'.
%br
%br
= link_to 'Delete Account', delete_account_path, :style => 'color:red;background-color:transparent'
