<% title 'Account' %>
<h1><%= @title %></h1>
<fieldset>
  <legend>Information</legend>
  <%= form_tag(update_account_path) do %>
    <b><%= label_tag :name, 'Name:' %></b>
    <%= text_field_tag :name, @name %>
    <br />
    <b>Email:</b> <%= @email %>
    <br />
    <%= submit_tag 'Update', :style => 'margin-left:0' %>
  <% end %>
</fieldset>
<fieldset>
  <legend>Subscription</legend>
  <% if @plan == 'paid' %>
    You are currently on the paid plan. You can downgrade to the free plan if you want.
    Note: it may take a few minutes for the downgrade to take effect.
    <br />
    To downgrade your account, go to the <%= link_to 'Chrome Webstore page', 'https://chrome.google.com/webstore/detail/delppejinhhpcmimgfchjkbkpanhjkdj' %> and click 'Cancel and uninstall'.
  <% else %>
    You are currently on the <%= @plan %> plan. Upgrade your account to get more features.
    Note: it may take a few minutes for the upgrade to take effect.
    <br />
    To upgrade your account, go to the <%= link_to 'Chrome Webstore page', 'https://chrome.google.com/webstore/detail/delppejinhhpcmimgfchjkbkpanhjkdj' %> and click 'Buy full version'.
  <% end %>
  <br /><br />
  <%= link_to 'Delete Account', delete_account_path, :style => 'color:red;background-color:transparent' %>
</fieldset>
