<!DOCTYPE html> 
	<head> 
  <title>Sketch Lab - <%= @title || "User interface sketching tool" %></title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
  <%= include_stylesheets :mobile %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
  <%= include_javascripts :mobile %>
  <%= csrf_meta_tag %>
</head> 
<body> 

<div data-role="page" data-theme="a">

	<div data-role="header">
    <h1><%= @title || "Sketch Lab" %></h1>
    <a href="/" class="ui-btn-right" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
	</div><!-- /header -->

  <div data-role="content">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <noscript>
      <!-- tell the user to enable JavaScript -->
      <div id="flash_error">Please enable JavaScript in your browser. Sketch Lab will not perform correctly without it.</div
    </noscript>
    <% if @help_article %>
      <%= link_to "Back to help", help_path %>
    <% end %>

    <%= yield %>
	</div><!-- /content -->

  <div data-role="footer">
    <div data-inline="true" style="text-align:center">
      <% if current_user %>
        <a href="/account" rel="external">Account</a>
        <a href="/signout" rel="external">Sign Out</a>
      <% else %>
      <% link_to("Sign In", "/auth/google", :html => { :rel => "external" }) unless current_page? root_url %>
      <% end %>
    </div>
    <h4 style="font-size:small">&copy; 2011 Heigh Tech LLC</h4>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>