<!--
Copyright (C) 2011  Heigh Tech LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.
-->
<!DOCTYPE html> 
	<head> 
  <title>Sketch Lab - <%= @title || "User interface sketching tool" %></title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
  <%= include_stylesheets :mobile %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
  <%= include_javascripts :mobile %>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>

  <%= csrf_meta_tag %>
</head> 
<body> 

<div data-role="page" data-theme="a">

	<div data-role="header">
    <h1><%= @title || "Sketch Lab" %></h1>
    <!-- home button -->
    <a href="/" class="ui-btn-right" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
    <!-- back button -->
    <a href="#" class="ui-btn-left" data-icon="back" data-direction="reverse" id="backBtn">Back</a>
	</div><!-- /header -->

  <div data-role="content">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <noscript>
      <!-- tell the user to enable JavaScript -->
      <div id="flash_error">Please enable JavaScript in your browser. Sketch Lab will not perform correctly without it.</div
    </noscript>
    <% if @help_article %>
      <%= link_to "Back to help", help_path %>
    <% end %>

    <%= yield %>
	</div><!-- /content -->

  <div data-role="footer">
    <div data-inline="true" style="text-align:center">
      <% if current_user %>
        <%= link_to 'Account', account_path %>
        <%= link_to 'Sign Out', signout_path %>
      <% else %>
        <% link_to('Sign In', '/auth/google') unless current_page? root_url %>
      <% end %>
      <%= link_to "Desktop Version", request.path + "?mobile=0" %>
    </div>
    <h4 style="font-size:small">&copy; <%= Time.now.year %> Heigh Tech LLC</h4>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>