<!--
Copyright (C) <%= Time.now.year %> Heigh Tech LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
<html>
<head>
  <%# Yahoo verification %>
  <META name="y_key" content="b8262ab52c3dc950" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Sketch Lab is a web based user interface (UI) sketch / prototype tool" />
  <title>Sketch Lab - <%= @title || "User interface sketching tool" %></title>
  <%= include_stylesheets :all, :media => "all" %>
  <%= yield :css %>
  <%= include_javascripts :defaults %>
  <% if @canvas %>
    <%= include_javascripts :canvas %>
    <style type="text/css">
    html {
      overflow: auto;
    }
    </style>
  <% end %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23147086-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<% if @sortable_sketch_list %>
  <script type="text/javascript">
  $(function() {
    $('#sketches_list').sortable({
      axis: 'y',
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'crosshair',
      items: 'tr',
      opacity: 0.4,
      scroll: true,
      update: function (){
        $.ajax({
          type: 'post',
          data: $('#sketches_list').sortable('serialize'),
          url: '/sort'
        });
      }
    });
  });
  </script>
<% end %>
<% if !@canvas %>
<body class="background">
  <div id="header">
    <div id="nav">
      <%= tab 'Home', root_path %><%= tab 'Public Sketches', public_url %><%= tab 'Help', help_path %><%= tab('Pricing', '/help/plans') unless current_user %>
    </div>
    <div id="user">
      <% if current_user %>
        Welcome <%= current_user.name %>!
        <%= link_to "Account", account_path %>
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign In / Sign Up", signin_path %>
      <% end %>
    </div>
  </div>
  <div id="content">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <noscript>
      <%# Tell the user to enable JavaScript %>
      <%= content_tag :div, 'Please enable JavaScript in your browser. Sketch Lab will not perform correctly without it.', :id => 'flash_error' %>
    </noscript>
    <% if @help_article %>
      <%= link_to 'Back to help', help_path %>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer">
    <small>
    <%= link_to 'Contributing', contributing_path %>
    <%= link_to 'Terms of Service', tos_path %>
    <%= link_to 'Privacy Policy', privacy_path %>
    <%= link_to 'Mobile Version', root_url(:mobile => 1) %>
    <br />&copy; <%= Time.now.year %> <%= link_to 'Heigh Tech LLC', 'http://www.heigh-tech.com' %>
    </small>
  </div>
<%# UserVoice tab widget %>
<script type="text/javascript">
  var uservoiceOptions = {
    key: 'sketchlab',
    host: 'sketchlab.uservoice.com',
    forum: '103563',
    alignment: 'right',
    background_color:'#FF0000',
    text_color: 'white',
    hover_color: '#0066CC',
    lang: 'en',
    showTab: true
  };
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
<%# End of UserVoice tab widget %>
</body>
<% else %>
  <body>
  <%= yield %>
  </body>
<% end %>
</html>
