<!--
Copyright (C) 2011  Heigh Tech LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Sketch Lab - <%= @title || "User interface sketching tool" %></title>
  <%= include_stylesheets :all, :media => "all" %>
  <%= yield :css %>
  <%= include_javascripts :defaults %>
  <% if @canvas %>
    <%= include_javascripts :canvas %>
    <style type="text/css">
    html {
      overflow: auto;
    }
    </style>
  <% end %>  
  <%= csrf_meta_tag %>
</head>
<% if !@canvas %>
<body class="background">
  <div id="header">
    <div id="title">
      <%= link_to "Sketch Lab", root_path %>
    </div>
    <div id="user">
      <% if current_user %>
        Welcome <%= current_user.name %>!
        <%= link_to "Account", account_path %>
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign In / Sign Up", signin_path %>
      <% end %>
    </div>
  </div>
  <div id="content">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <noscript>
      <!-- tell the user to enable JavaScript -->
      <%= content_tag :div, "Please enable JavaScript in your browser. Sketch Lab will not perform correctly without it.", :id => "flash_error" %>
    </noscript>
    <% if @help_article %>
      <%= link_to "Back to help", help_path %>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer">
    <small>
    <%= link_to "Blog", "http://blog.sketchlabhq.com/" %>
    <%= link_to "Help", help_path %>
    <%= link_to "Contributing", contributing_path %>
    <br />&copy; 2011 Heigh Tech LLC
    </small>
  </div>
<!-- UserVoice tab widget -->
<script type="text/javascript">
  var uservoiceOptions = {
    key: 'sketchlab',
    host: 'sketchlab.uservoice.com',
    forum: '103563',
    alignment: 'right',
    background_color:'#FF0000',
    text_color: 'white',
    hover_color: '#0066CC',
    lang: 'en',
    showTab: true
  };
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
<!-- end UserVoice tab widget -->
</body>
<% else %>
  <body>
  <%= yield %>
  </body>
<% end %>
</html>
